a { font-family: arial black;
font-size: 28px;
color: #e9563f}

h1 {
  margin-left: 5.5em;
  margin-top: 1.6em;
  font-family: arial black;
  font-size: 55px;
  color: #2879ff;}

ul {
list-style: none;
}

a:hover {
  color: #2e4e4a;
}
